/*-------------------Fonts--------------------*/

@font-face {
  font-family: Proxima_Nova;
  src: url("../fonts/Proxima Nova/ProximaNova-Reg.otf");
}
@font-face {
  font-family: Proxima_Nova_Bold;
  src: url("../fonts/Proxima Nova/ProximaNova-Bold.otf");
}
@font-face {
  font-family: Proxima_Nova_Light;
  src: url("../fonts/Proxima Nova/ProximaNova-Light.otf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}
/*-------------------CSS Reset--------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*-------------------Styles--------------------*/
body{
	font-family: Roboto;
	font-size:15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/*-------------------Header--------------------*/
header{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7c61d;
	height: 65px;
	width: 100%;
	box-sizing: border-box;
}
.header-wrapper{
	width: 1170px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
/*	border: 1px solid black;*/
}
.header-item{
	display:flex;
	width:350px;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	text-transform: uppercase;
	text-decoration: none;
}
.header-item>a{
	font-family: Proxima_Nova;
	font-size: 16px;
	text-decoration: none;
	color: black;
}

/*-------------------Main--------------------*/
.main-content{
	width: 1170px;
/*	height: 500px;*/
	display: flex;
	box-sizing: border-box;
/*	border: 1px solid black;*/
	padding-top: 30px;
}
main{
	width: 900px;
	display: flex;
	flex-direction: column;
/*	border: 1px solid black;*/
}
.main-caption{
	justify-content: center;
	align-items: flex-end;
	text-transform: capitalize;
	font-family: Proxima_Nova_Bold;
	font-size: 24px;
	margin-bottom: 10px;
	color:#333333;
}
/*-------------------Articles--------------------*/
article.main-article{
	display: flex;
	margin-bottom: 66px;
}
.main-article>img{
	width: 270px;
	height: 188px;
}
.article-container{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding:0 40px 0 30px;
}
.article-title{
	font-family: Proxima_Nova_Light;
	font-size: 30px;
	color:#333333;
}
.article-data{
	font-size: 13px;
	color: #999999;
}
.article-description{
	font-size: 16px;
	color: #999999;
}
.article-footer{
	font-size: 13px;
	color: #999999;
}
.yellow{
	color: #e3b002;
}
/*-------------------BtnMoreArticles--------------------*/
.BtnMoreArticles{
	display:block;
	width:170px;
	height: 45px;
	align-self:center;
	border: 1px solid #f7c61d;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	font-size: 12px;
	padding-top: 16px;
	box-sizing: border-box;
	text-decoration: none;
	color: black;
	font-weight: 700;
	margin-bottom: 85px;
}
/*-------------------Aside--------------------*/
aside{
	flex-grow: 1;
/*	border: 1px solid black;*/
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
/*-------------------Search bar--------------------*/
.search-bar{
/*	border: 1px solid black;*/
	justify-content: center;
	align-items:center;
	box-sizing: border-box;
	width:100%;
}
.magnifying-glass-ico{
	position:absolute;
	margin-top:9px;
	margin-left:10px;
}
.search-field{
	display: block;
	font-size: 14px;
	line-height: 25px;
	color: #999999;
	box-sizing: border-box;
	width:100%;
	padding-left: 30px;
	border-radius: 10px;
}
/*-------------------Calendar--------------------*/
.calendar-container{
	display:flex;
	margin-top:40px;
	margin-bottom: 45px;
/*	background-color: gray;*/
	border: 1px solid #e5e5e5;
	height:235px;
	width:100%;
	border-radius: 5px;
	color:#4d4d4d;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.calendar-caption{
	display: flex;
	height: 40px;
	align-items: center;
	justify-content: space-between;
	font-size: 16px;
}
.calendar-arrow{
	color: #a0a0a0;
	padding: 0	20px;
	font-size: 20px;
}
.calendar-month{
	flex-grow: 1;
	font-family: Proxima_Nova;
	text-align: center;
	text-transform: capitalize;
	color: black;
}
.calendar-weekdays{
	display: flex;
	height: 27px;
	align-items: stretch;
	color: #aeaeae;
}
.calendar-weekdays-item{
	text-align: center;
	width: 37px;
	background-color: #e7e7e7;
	border: 1px solid white;

}
.calendar-days{
	display: flex;
	align-items: center;
	color: #4d4d4d;
	align-items: stretch;
	height:35px;
}
.calendar-days-item{
	text-align: center;
	flex-grow:1;
	border: 1px solid #e5e5e5;
}
/*-------------------News--------------------*/
.news-container{
	display: flex;
	flex-direction: column;
	width:100%;
}
.news-caption{
	font-family: Proxima_Nova_Bold;
	font-size: 18px;
	margin-bottom: 20px;
}
.news-data{
	font-size: 12px;
	margin-bottom: 10px;
	color: #999999;
}
.news-header{
	box-sizing: border-box;
	width: 265px;
	font-size: 16px;
	margin-bottom: 20px;
/*	border: 1px solid black;*/
}
/*-------------------Footer--------------------*/
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f7c61d;
	height: 65px;
	width: 100%;
	box-sizing: border-box;
}
.footer-wrapper{
	display:flex;
	width:1170px;
	align-items: center;
}
.footer-copyright{
	flex-grow: 1;
/*	border: 1px solid black;*/
	color:#a78613;
}
.footer-links{
	display:flex;
	justify-content: space-around;

	flex-grow: 1;
}
a.footer-link{
	display: block;
/*	border: 1px solid black;*/
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-weight: 700;
}
.footer-social{
	display:flex;
	justify-content: flex-end;
	flex-grow: 1;
/*	border: 1px solid black;*/
}

.footer-social-link{
	height: 45px;
	width:45px;
	background-color: white;
	text-align: center;
	font-size: 16px;
	padding-top: 14px;
	box-sizing: border-box;
	border-radius: 22px;
	margin-left: 5px;
	color:#f7c61d;
}